.birthday-box {
    background-color: var(--hs-dark-transparent);
    border-radius: 5px;
    padding: 1rem;
    display: inline;
    bottom: 0;
    margin: 1rem;
    position: fixed;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    overflow: hidden;
    z-index: 9;

    h2 {
        margin-bottom: 1rem;
    }
}

/*creator boxes here*/
#video-creators {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .creator-container>a {
        display: flex;
        background-color: rgb(182, 133, 0);
        margin-bottom: 1rem;
    
        padding: 0.5rem;
        border-radius: 8px;
        cursor: pointer;
        color: var(--hs-white);

        img {
            border-radius: 50%;
            height: 3rem;
            object-fit: contain;
        }

        p {
            display: grid;
            place-items: center center;
            margin-left: 1rem;
            cursor: pointer;
        }
    }
}