.cookie {
  background-color: var(--hs-dark-transparent);
  padding: 1rem;
  display: block; 
  bottom: 0;
  left: 0; 
  right: 0; 
  margin: 1rem auto; 
  position: fixed;
  animation: 1s ease-out 0s 1 slideInFromBottom;
  overflow: hidden;
}

#cookie_info {
  color: var(--hs-white);
  display: inline;
  font-size: 1rem;
}

#cookie_info>a {
  transition: all 200ms ease-in-out;
  color: var(--hs-brightred);
}

#cookie_info>a:hover {
  color: var(--hs-linkhover);
  
}

#accept-cookies {
  width: 5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  padding: 10px;
  background-color: var(--hs-darkred);
  color: var(--hs-white);
  border-radius: 7px;
  border: 0;
  cursor: pointer;
  transition: background-color 200ms;
  display: inline;
  margin-left: 1rem;
}

#accept-cookies:hover {
  background-color: var(--hs-brightred);
}



button:hover {
  background-color: var(--hs-brightred);
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}