footer {
    height: 10rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.592);
    margin-top: 1rem;
}

footer h2 {
    font-size: 1rem;
}

footer p {
    font-size: 0.8rem;
}

footer section {
    height: 100%;
    width: 20%;
}

footer section > * {
    float: left;
    clear: both;
}



