/* Color schemes */
/*
:root {
    --housecolor-brightred: #800000;
    --housecolor-darkred: #380000;
    --housecolor-brownred: #160000;
    --housecolor-white: #e9e9e9;
    --housecolor-taggrey: #252525;
    --housecolor-linkhover: #ff7d7d;
}
*/

.menu {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.592);
    
}

nav {
    display: flex;
}

nav>a {
    text-decoration: none;
    color: var(--housecolor-white);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0.5rem 0 0.5rem;

    transition: all 200ms;
}



#logo {
    width: 100px;
}

#control_panel_options, #profile_panel_options {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.592);
    border-radius: 0 0 16px 16px;
    /*display: none;*/
}

#control_panel_options>nav>ul, #profile_panel_options>nav>ul {
    display: flex;
    justify-content: space-around;
}

#control_panel_options>nav>ul>li>a, #profile_panel_options>nav>ul>li>a {
    font-size: 1.5rem;
}

#controlpanelicon {
    height: 1.5rem;
}

#control_panel_menu, #profile_panel_menu {
    display: flex;
    justify-content: flex-end;
}

#control_panel_menu>a, #profile_panel_menu>a {
    font-size: 1rem;
}






/*--------------------------------underlining menu items-----------------------------------*/

a.linkHeader {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    position: relative;
    transition: font-size 0.3s ease;
}

/* Lijn onder actieve of hover-link */

a.linkHeader::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, rgba(56,0,0,1) 0%, rgba(128,0,0,1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}

a.linkHeader:hover::after {
    width: 100%;
    color: var(--housecolor-brightred);
}

a.linkHeader.activePage {
    font-weight: bold;
    cursor: default;
}
a.linkHeader.activePage::after {
    width: 100%;
    color: var(--housecolor-brightred);
}



/*--------------------------------FOR MOBILE DEVICES--------------------------------*/
@media (max-width: 1000px) {
    #logo {
        width: 100%;
        height: 100px;
        object-fit: contain;
    }

    .menu {
        padding: 1rem;
        display: block;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;   
    }

    nav {
        flex-direction: column;
    }

    nav>a {
        text-align: center;
        margin-top: 1rem;
        font-size: 3rem;
    }

    #controlpanelicon {
        height: 3rem;
    }

    #control_panel_menu>a {
        font-size: 2rem;
    }


}