#creator_nat {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 0;
    height: 2.2rem;
    width: calc(70% + 1.2rem);
    transition: all 200ms ease-in-out;
}

#creator_nat:hover {
    background: var(--hs-brightred);
}

#creator_nat>option {
    background: var(--hs-brightred);
    cursor: pointer;
}

#creator_nat {
    height: 2rem;
    padding: 0.5rem;
    width: calc(60% + 1.2rem);
}