@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat&family=Nunito:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* Color schemes */
:root {
    --hs-brightred: #800000;
    --hs-brightred-glow: #aa0000;
    --hs-darkred: #380000;
    --hs-brownred: #160000;
    --hs-white: #e9e9e9;
    --hs-taggrey: #252525;
    --hs-linkhover: #ff7d7d;
    --hs-dark-transparent: rgba(0, 0, 0, 0.430);
}

#img-404 {
    display: block;
    margin: 5rem auto;
    height: 50vh;
}

a {
    text-decoration: none;
    cursor: pointer !important;
}

p {
    cursor: default;
}


body {
    color: var(--housecolor-white);
    font-family: 'Montserrat', sans-serif;
    background-image: url("../assets/background.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*CUSTOM SCROLLBAR GLOBALLY*/
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--hs-white);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

/*WRAPPER PROPERTIES*/
.wrapper {
    background: #101010d0;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
    min-height: 80vh;
    border-radius: 16px;
    margin-top: 1rem;
}

/*VIDEO LIST PROPERTIES*/
.video-list {
    display: grid;
    width: 90%;
    margin: 1rem auto;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 16px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

/*PROPERTY FOR ALL TAGS EXCEPT TAGLINKS IN THE MENU*/
.tag {
    background-color: var(--hs-taggrey);
    width: 10rem;
    text-decoration: none;
    color: var(--hs-white);
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    /*No transition for the hover since it feels sluggish when selecting tags*/
}

.tag:hover {
    background-color: var(--hs-brightred);
}

.glow {
    transition: filter 250ms;
}

.glow:hover {
    -webkit-filter: drop-shadow(0px 0px 5px var(--hs-white));
    filter: drop-shadow(0px 0px 5px var(--hs-white));
}

.button {
    width: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    padding: 10px;
    background-color: var(--hs-brightred);
    color: var(--hs-white);
    border-radius: 7px;
    border: 0;
    cursor: pointer;
    transition: background-color 200ms;
}

.button--centered {
    width: 8rem;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.button:hover {
    background-color: var(--hs-brightred-glow);
}

.regular-link {
    color: var(--hs-white);
    text-decoration: none;
    transition: color 200ms;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

.regular-link:hover {
    color: var(--hs-linkhover);
}

.title {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-left: 5%;
    padding-top: 2rem;
    color: white;
}

.input-element {
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 7px;
    border: 0;
    cursor: text;   
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5rem;
}

textarea {
    width: 70%;
    resize: none;
    height: 4rem;
}

input[type=file] {
    cursor: pointer;
}

input[type=checkbox] {
    accent-color: var(--hs-brightred);
    cursor: pointer;
    height: 2rem;
    margin-top: 1.1rem;
}

select {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: var(--hs-brightred);
    color: var(--hs-white);
    border-radius: 4px;
    transition: background-color 200ms;
}

select:hover {
    background-color: var(--hs-brightred-glow);
}


.pagination {
    text-align: center;
    width: 100%;
    margin-bottom: 5rem;

    .active-page {
        background-color: var(--hs-brightred-glow);
    }

    a {
        color: white;
        margin: 0 0.1rem 0 0.1rem;
        padding: 5px;
        width: 2rem;
        display: inline-block;
        border-radius: 5px;
        text-align: center;
        background-color: var(--hs-dark-transparent);
        transition: background-color 200ms;
        margin-top: 0.2rem;
    }

    a:hover {
        background-color: var(--hs-brightred-glow);
    }

    span {
        margin: 0 0.1rem 0 0.1rem;
        padding: 5px;
        width: 1.5rem;
        display: inline-block;
        border-radius: 5px;
        text-align: center;
        margin-top: 0.2rem;
    }
}

#feedback {
    width: 50%; 
    cursor: pointer; 
    text-align: center; 
    background-color: #00000067; 
    border-radius: 8px; 
    display: none;
    padding: 0.5rem 0 0.5rem 0; 
    margin: 1rem auto;

}




@media (max-width: 1000px) {
    .wrapper {
        width: 100%;
    }
}