.about-info {
    margin: 5rem auto;
    width: 80%;
    border-radius: 16px;
    padding: 1rem;
    display: grid;
    place-items: center center;
    color: white;
}

.about-info h1 {
    margin-bottom: 2rem;
    color: #a60000;
}

.about-info p {
    font-size: 1rem;
    text-align: left;

    width: 100%;
}

.about-info p {
    font-size: 1rem;
    text-align: left;
}

#return {
    margin-top: 2rem;
    display: block;
    width: 10rem;
    text-align: center;
}