.table-container {
    margin: 0 auto;
    height: 80vh;
    overflow-y: scroll;
    border-radius: 16px;
    padding: 1rem;
    width: 95%;
    color: white;
}

thead {
    font-size: 1.1rem;
}



th {
    position: sticky;
    top: -0.5rem;
    padding: 1rem 0;
    border-left: 1px solid rgba(255, 255, 255, 0.073);
}

tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.073);
}

#table-user-info,
#table-creator-info,
#table-videos,
#table-tag-info,
#table-report-info,
#table-creator-searcher,
#table-log-info {
    width: 100%; /* Ensure table uses full width of the container */
    border-collapse: collapse;
    position: relative;
    max-height: 100vh;
}

#table-tag-info {
    table-layout: auto; /* Allow table to adjust column widths based on content */
}

td {
    padding: 1rem 0.2rem;
    color: rgba(255, 255, 255, 0.534);

}

/*Cheat code to auto-width the cells*/
td.last {
    width: 1px;
    white-space: nowrap;
}

#filters {
    width: 90%;
    margin: 1rem auto;
    text-align: right;

    select {
        height: 2rem;
    }
}

#creator-adder,
#tag-adder {
    width: 40%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.377);
    border-radius: 16px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
    color: white;
}

#creator-adder>h2,
#tag-adder>h2 {
    width: 100%;
    margin-bottom: 1rem;
}

#creator-adder>label,
#tag-adder>label {
    width: 25%;
    height: 2.2rem;
    display: grid;
    place-items: center left;
}

#creator-adder>p,
#tag-adder>p {
    width: 100%;
    display: grid;
    place-items: center center;
    margin-bottom: 1rem;
}

#creator-adder>input,
#tag-adder>input {
    width: 70%;
}

form>h2:not(:first) {
    margin-top: 2rem;
}


#creator_nat {
    width: calc(70% + 1.2rem) !important;
}

#creator-adder>input[type=submit],
#tag-adder>input[type=submit] {
    width: 20%;
    margin: 0 auto;
}

.wrapper>#no_results {
    display: block;
    margin: 5rem auto;
}

.posted {
    outline: 2px solid pink;
}

.profile-pic-container {
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    height: 3rem;
}

label {
    color: white;
}