#creator-filters {
    padding: 1rem 0 0 1rem;
    display: flex;

    width: 20%;
    flex-wrap: wrap;
}

#creator-filters>* {
    height: 2rem;
    width: 60%;
}

#creator-filters>label {
    height: 2rem;
    width: 35%;
    margin-right: 0.5rem;
    color: white;
}

select {
    margin-bottom: 0.5rem;
}

#creator-list {
    display: grid;
    width: 90%;
    margin: 1rem auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 16px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    color: white;
}

.message-container {
    width: 100%;
    text-align: center;
}

.creator-container {
    margin: 2rem;
    width: 15rem;
}

.creator-container>h2{
    display: grid;
    place-items: center center;
}

.creator-container>p {
    display: grid;
    place-items: center center;
    color:rgba(255, 255, 255, 0.466);
}

.creator-container>a {
    position: relative;
}

.creator-container>a>.creator-img {
    border-radius: 50%;
    width: 100%;
    box-shadow: -6px -3px 5px rgba(0, 0, 0, 0.544);
    transition: all 200ms ease-in-out;
}

.creator-img:hover {
    filter: brightness(1.50);
}

.creator-container>a>.party-hat {
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    position: absolute;
    right: 0rem;
    bottom: 12rem;
}

#loading_icon {
    width: 100%;
    height: 5rem;
    object-fit: contain;
    text-align: center;
}







/*--------------------------------FOR MOBILE DEVICES--------------------------------*/
@media (max-width: 1000px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .creator-container {
        width: 40%;
        margin-top: 2rem;
    }

    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 2rem;
    }

    #creator-list {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }

}