.title {
    width: 100%;
    text-align: center;
    margin-left: 0;
}

form {
    width: 40%;
    margin: auto;
    padding: 5% 10% 5% 10%;
    border: 1px solid rgba(255, 255, 255, 0.144);
    border-radius: 14px;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    color: white;
}



#video-preview, #thumbnail-preview {
    width: 100%;
}

label {
    width: 30%;
    display: inline-block; 
    margin-bottom: 1rem;
    display: grid;
    place-items: center left;
    color: white;
}

input[type=text], input[type=number], input[type=file], input[type=datetime-local], input[type=date], input[type=url], textarea {
    width: 60%;
}

#actions {
    margin-top: 2rem;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

input[type=submit] {
    width: 30%;
}

form a {
    display: grid;
    place-items: center;
}

form #filename {
    width: 50%;
}

#copy-to-clipboard {
    width: 5%;
    height: 1rem;
    object-fit: contain;
    margin-left: 1%;
}

#uploaded_by {
    width: 10%;
}

#uploaded_by_username {
    width: 45%;
    margin-left: 1%;
}

input[type=search] {
    margin-bottom: 0;
    width: 100%;
}

input[type=search]:focus {
    outline: none;
}