/*TAGLIST PROPERTIES*/
#tag-list {
    width: 90%;
    height: 20rem;
    margin: auto;
    overflow-x: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    border-radius: 16px;
}

#tag-list .regular-link {
    width: 10rem;
    border-radius: 4px;
    transition: background-color 200ms;
    display: grid;
    place-items: center left;
}

#tag-list .regular-link:hover {
    background-color: rgba(0, 0, 0, 0.404);
}

/*SELECTED TAGLIST PROPERTIES*/
#search-by-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
    border-radius: 8px;
    
}

#search-by-tags>div {
    margin-top: 1rem;
}

#search-by-tags>label {
    padding: 0.5rem;
    width: 20%;
    margin-top: 1rem;
}

#search-by-tags>#selected-tags {
    display: flex;
    width: 75%;
    height: 2rem;

    border-radius: 8px;

    box-shadow: inset 10px 10px 10px -8px rgba(0,0,0,0.75), inset -10px -10px 10px -8px rgba(0,0,0,0.75);

}

#search-by-tags>#select-container {
    width: 75%;
    text-align: left;
    height: 2rem;
}

#search-by-tags>#select-container>select {
    height: 2rem;
    width: 20%;
}

.tag {
    background-color: #800000;
}

.tag:hover {
    background-color: #aa0000;
}


#search-by-tags>#submit-button-container {
    width: 100%;
    text-align: center;
}

#search-container {
    width: 75%;
    height: 2rem;
}

#search {
    width: 20%;
}

#search-by-tags>#submit-button-container>input[type=submit] {
    display: inline-block;
    height: 2rem;
    padding: 5px;
    width: 6rem;   
}

#random-video {
    width: 10rem !important;
    height: 2rem !important;
    padding: 4px !important;
    margin-top: 2rem !important;
    margin-left: calc(50% - 5rem) !important;
    display: grid;
    place-items: center center;
}


/*--------------------------------FOR MOBILE DEVICES--------------------------------*/
@media (max-width: 1000px) {

    .title {
        font-size: 4rem;
    }

    #tag-list {
        height: 80vh;
        justify-content: space-around;
    }

    #tag-list .regular-link {
        width: 45%;
        font-size: 2.8rem;
        border: 1px solid white;
        text-align: center;
        margin-bottom: 1rem;
        background-color: rgba(0, 0, 0, 0.579);
    }

    #selected-tags {
        flex-wrap: wrap;
        justify-content: space-between;
        height: auto !important;
    }

    #selected-tags>.tag {
        font-size: 3rem;
        width: 50%;
        outline: 1px solid white;
    }

}