@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat&family=Nunito:wght@300&display=swap');
/*IMPORTANT -- LOGIN PAGE DOESN'T INHERIT CSS FROM GLOBAL FILE*/
* {
    margin: 0;
    padding: 0;
}

/* Color schemes */
:root {
    --hs-brightred: #800000;
    --hs-brightred-glow: #aa0000;
    --hs-darkred: #380000;
    --hs-brownred: #160000;
    --hs-white: #e9e9e9;
    --hs-taggrey: #252525;
    --hs-linkhover: #ff7d7d;
    --hs-dark-transparent: rgba(0, 0, 0, 0.430);
  }

body {
    background-image: url("../../assets/background.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--hs-dark-transparent);
    font-family: 'Montserrat', sans-serif;
}


.wrapper {
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5vh;
    min-width: 400px;
}

form {
    width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 10%; 
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.438);
}

h1 {
    color: var(--hs-white);
    font-weight: 1;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin-top: -5%;
    margin-bottom: 5%;
}

form input[type=text],
form input[type=password] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    background-color: var(--hs-dark-transparent);
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
}

::placeholder {
    color: rgb(161, 161, 161);
    opacity: 1;/* Firefox */
}

form input[type=submit] {
    background-color: var(--hs-darkred);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    transition: background-color 300ms ease;
    width: 100%;
}

form input[type=submit]:hover {
    background-color: var(--hs-brightred);
}

#logo {
    width: 100%;
    height: 100px;
    object-fit: contain;
    margin-bottom: 1rem;
}










#remember-me-container {
    display: flex;
    color: var(--hs-white);
    margin-bottom: 1rem;
}

/*REMEMBER ME SWITCH*/
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    margin-right: 0.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--hs-darkred);
    -webkit-transition: .4s;
    transition: .4s; 
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: var(--hs-white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--hs-brightred)
}



input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}